#location{
	background-color: #c4d9ba;
}

.btn-location{
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	color: #1c5c56;
	background-color: #f2f2f2;
}